/* TYPEFACES *******************************************************
 ******************************************************************/
/* Font Pairings
 *  Volkhov with Hammersmith One 
 *  Amaranth with Yantramanav
 */

@font-face {
	font-family: aller;
	src: url(../fonts/Aller/Aller_Rg.ttf);
}

@font-face {
	font-family: yan-regular;
	src: url(../fonts/Yantramanav/Yantramanav-Regular.ttf);
}

@font-face {
	font-family: yan-bold;
	src: url(../fonts/Yantramanav/Yantramanav-Bold.ttf);
}

@font-face {
	font-family: aller-bold;
	src: url(../fonts/Aller/Aller_Bd.ttf);
}

@font-face {
	font-family: amaranth-bold;
	src: url(../fonts/Amaranth/Amaranth-Bold.ttf);
}



/* BASIC ELEMENTS **************************************************
 ******************************************************************/

body{
	margin: 0;
	height: 100%;		
}

html{
	margin: 0;
	height: 100%;
}

h2{
	color: #4199d7;
	font-family: aller-bold;
	text-align: center;
}

h3{
	color: #4199d7;
	font-family: aller;
	text-align: center;
}

h1{
	font-family: aller-bold;	
}





/* WEBSITE DESIGN **************************************************
 ******************************************************************/
#homepage{
	height: auto;	
	background-color: #efefef;
	padding-top: 40vh;	
}

#homepage > .title{
	display: block;
	background-color: #efefef;
	position: relative;

}

.title> .text{	
	font-size: 10vh;
	display: block;
	width: 100%;	
	opacity: 1;
	color: black;	
	position: absolute;
	top: 0%;
	left: 50%;
	text-align: left;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%); /* older browser fallback */
	color: #4CAF50;
	padding-bottom: 20vh;
}

/* WEBSITE DESIGN **************************************************
 ******************************************************************/

/* Making a mobilescreen grid for the homepage */
#webstory > .grid{
	padding-top: 20vh;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	padding-left: 1vw;
	padding-right: 1vw;
	grid-gap: 2vw;
}



#webstory{
	overflow:visible;
	background-color: #efefef;
}


#webstory .box{	
	position: relative;
	height: auto;
}

.box img{ /* for images in a grid-box */	
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.2;
}

.box .text{
	font-size: 5vh;
	font-family: aller-bold;
	display: block;
	opacity: 1;
	color: black;	
	position: absolute;
	top: 40%;
	left: 50%;
	text-align: center;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%); /* older browser fallback */
}

.box > img{ /* for images in a grid-box */
	width: 50%;
	height: 100%;
	object-fit: cover;
	opacity: 0.8;
}

#webstory *  #button:hover {
	background-color: #4CAF50;
}

#second > .textbox{
	background-color: #EFEFEF;
}


/* Medium Screens */
@media only screen and (min-width: 600px) {

	#webstory > .grid{
		padding-top: 20vh; /*height of navbar */	
		display: grid;
		grid-template-columns: 1fr 1fr; /* 2 x 2 grid */
		grid-template-rows: 1fr
							1fr;
		position: relative;

	}


	#webstory > .grid#start{
		padding-left: 15vw;		
	}

	#webstory > .grid#second{
		grid-template-rows: repeat(6, 20vh);
		grid-template-columns: 40vw 56vw;		
		
	}

	#second > .textbox{
		grid-column: 1/-1;
	}


}


/* Large Screens */
@media only screen and (min-width: 900px) {

	
	#webstory > .grid{
		padding-top: 20vh;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 x 1 grid */
		grid-template-rows: auto;
		grid-auto-flow: row dense;
		padding-bottom:10vh;
		
	}

	.title>.text{
		font-size: 6vw;
	}

	#webstory > .grid#start{
		padding-left: 15vw;	
	}

	#webstory > .grid#second{
		grid-template-rows: repeat(6, 20vh);
		grid-template-columns: repeat(4, 1fr);	
	}		
		
	#second > .textbox{
		grid-area: auto/auto/span 2/ span 3;
	}

	#second > .textbox:nth-child(4n){
		grid-area: 3/1/span 2/ span 3;
	}

	#second > .box{
		grid-column-start: span 1;
		grid-row-start: span 2;
	}

	.box > img{ /* for images in a grid-box */
		position: absolute;
		width: 50%;
		height: 50%;
		object-fit: cover;
		opacity: 0.8;
	}

	#second > .box:nth-child(4n+1) > img{
		left: 50%;
	}

}



/* DATAVIZ *********************************************************
 ******************************************************************/
#dataviz{
	padding:10px;
	height: 1190px;	
}

.percentReadImg, .numberReadImg, .articleSourceImg, .sourceNameImg, .fullImg{ 
	max-width: 100%;
	max-height: auto;
	display: block;
	margin: auto;
}

.treeImg{
	max-width: 100%;
	max-height: auto;
	display: block;
	align-items: auto;
}

.legendTitle, .treeTitle{
	max-width: 100%;	
	max-height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.percentRead, .numberRead, .articleSource, .sourceName, .tree{
	max-width: 100%;
	max-height: auto;
	display: flex;
	flex-direction: column;	
	justify-content: center;
	align-items: center;
}

.full{
	display: none;
}


.legendTitle{ grid-area: legendTitle; }
.percentRead{ grid-area: percentRead; }
.numberRead{ grid-area: numberRead; }
.articleSource{ grid-area: articleSource; }
.sourceName{ grid-area: sourceName; }
.treeTitle{ grid-area: treeTitle; }
.tree{ grid-area: tree;	}
.full{ grid-area: full;}

/* Small Screens */
h2{ font-size: 200%; }
h3{ font-size: 100%; }

#dataviz > .grid {
	display: grid;
	width: 100%;
	height: 1100px; 	
	/* defines the grid areas */
	grid-template-areas: 
	"legendTitle" 
	"percentRead" 
	"numberRead" 
	"articleSource"
	"sourceName"
	"treeTitle"
	"tree";
	grid-gap: 20px;	

}

/* Large Screens */
@media only screen and (min-width: 768px) {
	h2{ font-size: 300%; }
	h3{ font-size: 100%; }

	#dataviz{
		padding-left:30px;
		padding-right:30px;
		height: 770px;	
	}

	.percentRead, .numberRead, .articleSource, .sourceName, .tree{
		display: none;
	}

	.full{
		max-width: 100%;
		max-height: auto;
		display: flex;
		flex-direction: column;	
		justify-content: center;
		align-items: center;
	}

	#dataviz > .grid {	
		width: 100%;
		height: 85%;	
		/* column width using golden ratio*/
		grid-template-columns: 1fr 3.234fr;
		grid-template-rows: auto;
		/* defines the grid areas */
		grid-template-areas: 
		"legendTitle treeTitle"
		"full full";
		grid-gap: 20px;

	}

}

/* VIDEO ***********************************************************
 ******************************************************************/
#video{
	height: 100vh;
	width: 100%;
	background-color: #955e90;
}


/* DATA COLLECTION *************************************************
 ******************************************************************/
#data{

}

#webhistory {
	font-family: yan;
	border-collapse: collapse;
	width: 100%;	
}

#webhistory td, #webhistory th { 
	padding: 8px;
}

#webhistory tr:nth-child(even){background-color: #f2f2f2;}

#webhistory tr:hover {background-color: #ddd;}

#webhistory th {

	padding-bottom: 12px;
	text-align: left;
	background-color: #40Af5E;
	color: white;
	padding-top:12px;
}


